.body-page {
  font-family: var(--font-family);
  /* display:grid; */
  padding-top: 20px;
  /* max-height: 100%; */
  /* padding-inline: 15%; */
  background-color: #eeeeee;
}

.layout-content .card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* .body-page{
  padding-top: 5%;
  padding-inline: 12%;
  box-shadow: #9BA4B5;
} */

.background-main1 {
  /* margin-top: 4%; */
  width: 100%;
  height: 700px;
  background: url("./assets/imgs/Main.png");
  /* background-repeat: no-repeat; */
  background-size:100% 100%;
  position: fixed;
  /* background-position: center center; */
}

.background-main2 {
  /* margin-top: 2%; */
  width: 100%;
  height: 740px;
  background: url("./assets/imgs/Main2.png");
  /* background-repeat: no-repeat; */
  background-size:100% 100%;
  position: fixed;
  /* background-position: center center; */
}

.background-main3 {
  /* margin-top: 2%; */
  width: 100%;
  height: 740px;
  background: url("./assets/imgs/Main3.png");
  /* background-repeat: no-repeat; */
  background-size:100% 100%;
  position: fixed;
  /* background-position: center center; */
}

section {
  /* margin-top: 70px;
  width: auto;
  max-height: 700px; */
  /* background-repeat: no-repeat; */
}

nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 100;
  /* display: flexbox; */
  /* padding: 0 50px; */
  /* padding-left: 20px; */
}
.navbar-logo {
  font-size: 30px;
  color: #fff;
  padding-inline: 3%;
  text-decoration: none;
}

.navbar-profile {
  font-size: 18px;
  color: #fff;
  /* justify-content: flex-end; */
  align-items:end;
  text-decoration: none;
}

.active {
  background-color: #404258;
}

.logo {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-left: 20px;
}

.body-notfound {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 450px;
}

.img-menu {
  width: auto;
  height: 160px
}

.img-warehouse {
  width: 95%;
  /* height: auto; */
}

.img-store {
  width: 80%;
  /* height: auto; */
}

.button-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: var(--blue-300);
}

footer {
  grid-area: footer;
  background: #333;
  /* padding: 1rem; */
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
